{
  "name": "Base24 {{scheme-name}}",
  "_author": "{{scheme-author}}",
  "_variant": "{{scheme-variant}}",
  "_description": "{{scheme-description}}",
  "background": "#{{base00-hex}}",
  "foreground": "#{{base05-hex}}",
  "cursorColor": "#{{base05-hex}}",
  "selectionBackground": "#{{base02-hex}}",
  "black": "#{{base01-hex}}",
  "red": "#{{base08-hex}}",
  "green": "#{{base0B-hex}}",
  "yellow": "#{{base09-hex}}",
  "blue": "#{{base0D-hex}}",
  "purple": "#{{base0E-hex}}",
  "cyan": "#{{base0C-hex}}",
  "white": "#{{base09-hex}}",
  "brightBlack": "#{{base02-hex}}",
  "brightRed": "#{{base12-hex}}",
  "brightGreen": "#{{base14-hex}}",
  "brightYellow": "#{{base0A-hex}}",
  "brightBlue": "#{{base16-hex}}",
  "brightPurple": "#{{base17-hex}}",
  "brightCyan": "#{{base15-hex}}",
  "brightWhite": "#{{base07-hex}}"
}
